services:
  db:
    image: postgres:17-alpine
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      # ggignore
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: pokemon
    volumes:
      - db_data:/var/lib/postgresql/data

  backend:
    build: ./backend
    ports:
      - 3000:3000
    environment:
      - DATABASE_URL=postgres://postgres:postgres@db:5432/pokemon
    depends_on:
      - db

  frontend:
    build: ./frontend
    ports:
      - 5173:5173
    depends_on:
      - backend

volumes:
  db_data:
