services:
  db:
    image: postgres:17-alpine
    restart: unless-stopped
    environment:
      - POSTGRES_USER: postgres
      # ggignore
      - POSTGRES_PASSWORD: postgres
      - POSTGRES_DB: pokemon
    ports:
      - 5432:5432
    volumes:
      - db_data:/var/lib/postgresql/data
    healthcheck:
      test: ['CMD', 'pg_isready', '-U', 'postgres']
      interval: 5s
      timeout: 5s
      retries: 5

  backend:
    build: ./backend
    ports:
      - 3000:3000
    environment:
      - DATABASE_URL=postgres://postgres:postgres@db:5432/pokemon
    depends_on:
      db:
        condition: service_healthy

  seedDb:
    build: ./backend
    command: node seedDb.js
    depends_on:
      db:
        condition: service_healthy

volumes:
  db_data:
